:root{
    /* ### Neutral */

  --Almost-White: hsl(0, 0%, 98%);
  --Medium-Gray: hsl(0, 0%, 41%);
  --Almost-Black: hsl(0, 0%, 8%);

/* ## Typography */

/* ### Body Copy */

  --Font-size: 18px;

/* ### Font */

 --sm-Weight: 500;
 --md-Weight: 700;
}


@font-face {
    font-family: regular;
    src: url(static/Outfit-Light.ttf);
}

@font-face {
    font-family: bold;
    src: url(static/Outfit-Bold.ttf);
}




 body{
  margin: 0;
  width: 100vw;
  height: 100vh;
  background: var(--Almost-White);
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 40px;
 }

 .bodyb{
    margin: 0;
    width: 100vw;
    height: 100vh;
    background: var(--Almost-White);
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 60px;
   }

 nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 5vh;
 }

 .nav{
    display: flex;
    flex-direction: column;
    width: 100%;
   
 }

 .flex{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height: 100%;
 }

 ul{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    list-style: none;
    gap: 30px;
 }

 .link{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
 }

 button{
    border-style: solid;
    border-width: thin;
    border-color: var(--Medium-Gray);
    background: var(--Almost-White);
    color: var(--Medium-Gray);
    font-weight: var(--md-Weight);
    width: 120px;
    height: 40px;
    border-radius: 20px;
 }

 button:hover{
    cursor: pointer;
    border-color: var(--Almost-Black);
    color: var(--Almost-Black);
 }


 .learn{
    border-style: solid;
    border-width: thin;
    border-color: var(--Medium-Gray);
    font-weight: var(--md-Weight);
    width: 120px;
    height: 40px;
    border-radius: 30px;

    background: var(--Almost-Black);
     color: var(--Almost-White);
 }

 .learn:hover{
    cursor: pointer;
    border-color: var(--Almost-Black);
    color: var(--Almost-Black);
    background: var(--Almost-White);
    transition: .3s;
 }
 .buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
 }

 .regular{
    font-family: regular;
    color: var(--Medium-Gray);
    font-weight: var(--md-Weight);
    margin: 0;
 }

 .regularb{
    font-family: regular;
    color: var(--Medium-Gray);
    font-weight: var(--md-Weight);
    margin: 0;
 }

 .regularc{
    font-family: regular;
    color: var(--Medium-Gray);
    font-weight: var(--md-Weight);
    margin: 0;
 }

 .bold{
    font-family: bold;
    color: var(--Almost-Black);
    font-size: 60px;
    margin: 0;
 }

 .regular:hover{
    color: var(--Almost-Black);
    cursor: pointer;
 }

 .hide{
    display: none;
 }

 .hideb{
    display: none;
 }

.drop{
    background: url(images/icon-arrow-down.svg);
}

main{
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: row;

}

.laptop{
    width: 50%;
    height: 100%;
    background-size: auto;
    background-repeat: no-repeat;
}

.texts{
    width: 46%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.text{
    width: 70%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    justify-content: space-evenly;
}

.svgs{
    display: flex;
    flex-direction: row;
    width: 70%;
    justify-content: space-between;
    align-items: center;
}

.column{
    display: flex;
    flex-direction: column;
   
}

.pointer{
    cursor: pointer;
}

.black:hover{
    color: var(--Almost-Black);
}

.rows{
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-around;
    align-items: center;
}

.rowsb{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.features{
    position: absolute;
    justify-self: flex-end;
    align-self: flex-end;
    top: 8%;
    background: var(--Almost-White);
    border-style: solid;
    border-color: lightgrey;
    border-width: thin;
    height: 135px;
    width: 138px;
    display: flex;
    flex-direction: column;
    border-radius: 9px;
    justify-content: space-evenly;
    align-items: center;
}

.featuresb{
    position: absolute;
    justify-self: flex-end;
    align-self: flex-end;
    top: 8%;
    background: var(--Almost-White);
    border-style: solid;
    border-color: lightgrey;
    border-width: thin;
    height: 90px;
    width: 112px;
    display: flex;
    flex-direction: column;
    border-radius: 9px;
    justify-content: space-evenly;
    align-items: center;
}


.columnc{
    display: flex;
    flex-direction: column;
}

@media screen and (max-width:600px) {
    .flex{
        display: none;
    }

    .flexb{
        display: flex;
        position: absolute;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 60px;
        box-sizing: border-box;
        padding-top: 20px;
        width: 100vw;
        height: 100vh;
        top: 0%;
        background: var(--Almost-White);
     }

     .register{
        border-style: solid;
        border-width: thin;
        border-color: var(--Medium-Gray);
        background: var(--Almost-White);
        color: var(--Medium-Gray);
        font-weight: var(--md-Weight);
        font-size: xx-large;
        width: 336px;
        height: 77px;
        border-radius: 30px;
     }

     ul{
        gap: 50px;
     }
    
     .register:hover{
        cursor: pointer;
        border-color: var(--Almost-Black);
        color: var(--Almost-Black);
     }

     .buttons{
        display: flex;
        flex-direction: column;
        gap: 37px;
        margin: 0;
        padding: 0;
        align-items: center;
        justify-content: center;
     }

     .links{
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 70px;
        margin: 0;
        padding: 0;
     }

     .link{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
     }

    main{
        display: flex;
        flex-direction: column-reverse;
        gap: 20px;
        height: 80vh;
    }
    .laptop{
        width: 100%;
        height: 40%;
    }

    body{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .svgs{
        width: 100%;
    }

    .texts{
        width: 100%;
    }

    .text{
        width: 100%;
        align-items: center;
        text-align: center;
    }

    button{
        background: var(--Almost-Black);
        color: var(--Almost-White);
        height: 60px;
        width: 180px;
        font-size: larger;
    }

    .learn{
     height: 60px;
     width: 180px;
     font-size: larger;
    }

    .bold{
        font-size: 40px;
    }

    .regularb{
        font-size: xx-large;
        margin: 0;
        font-weight: 500;
    }

    .regularc{
        font-size: x-large;
        margin: 0;
    }

    .regular{
        font-size: xx-large;
        margin: 0;
    }

    button:hover{
     color: var(--Almost-White);
    }

    .hide{
        display: flex;
    }
    .logo{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
    nav{
        height: 5vh;
    }

    #svgb{
        margin-left: 80%;
    }

    .columnc{
        height: auto;
    }

    .features{
        border: none;
        position: relative;
        width: 100%;
        height: 100%;
        gap: 6px;
    }

    .featuresb{
        border: none;
        position: relative;
        width: 100%;
        height: 100%;
        gap: 11px;
    }

    .rows{
        justify-content: center;
        justify-content: space-between;
        width: 50%;
    }

    .rowsb{
        display: flex;
        justify-content: center;
        width: 50%;
    }

    .featuresb{
        border: none;
        position: relative;
        width: 100%;
        height: 100%;
        gap: 6px;
    }
}  
